@page "/posts/{Id:int}/edit"
@attribute [Authorize(Roles = "Admin")]

@using Golb.Data
@using Golb.Services
@inject PostService service
@inject NavigationManager navigationManager

<h2>Edit Post</h2>

@if (post == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <Form post="@post" OnFormValidSubmit="@HandleFormValidSubmit"/>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private Post post;

    protected override async Task OnInitializedAsync()
    {
        post = await service.Get(Id);
    }

    private async Task HandleFormValidSubmit()
    {
        post.PostedAt = DateTime.Now;
        await service.Update(post);
        navigationManager.NavigateTo("/posts/" + post.Id);
    }
}
