@page "/posts/new"
@attribute [Authorize(Roles = "Admin")]

@using Golb.Data
@using Golb.Services
@inject PostService service
@inject NavigationManager navigationManager

<h2>New Post</h2>

<Form post="@post" OnFormValidSubmit="@HandleFormValidSubmit" />

@code {
    private Post post = new Post();

    private async Task HandleFormValidSubmit()
    {
        post.PostedAt = DateTime.Now;
        await service.Create(post);
        navigationManager.NavigateTo("/posts");
    }
}
