@page "/posts/{Id:int}"

@using Golb.Data
@using Golb.Services
@inject PostService service

<div class="form-group float-right">
    <a class="btn btn-success" href="posts/@Id/edit">
        <i class="oi oi-pencil"></i>
        &nbsp; Edit Post
    </a>
</div>

@if (post == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h2>@post.Title</h2>
    <p>@post.PostedAt</p>
    <p>@post.Body</p>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private Post post;

    protected override async Task OnInitializedAsync()
    {
        post = await service.Get(Id);
    }
}